{% extends 'base.html' %}
{%block stats%}{% endblock %}
{%block url %}
{% if m.tester != Null%}
    <h5>TESTER</h5>
    <label>{{m.tester}}</label>
{%endif%}
{% if m.dsp != Null%}
    <h5>Download speed</h5>
    <label>{{m.dsp}}</label>
{%endif%}
{% if m.usp != Null%}
    <h5>Upload speed</h5>
    <label>{{m.usp}}</label>
{%endif%}
{% if m.ping != Null%}
    <h5>Ping</h5>
    <label>{{m.usp}}</label>
{%endif%}
<h5>Testdata</h5>
<label>{{m.testdata}}</label>
{% if m.size != Null%}
    <h5>Downloaded size</h5>
    <label>{{m.size}} MB</label>
{%endif%}
{% if m.time != Null%}
    <h5>Downloaded for a time</h5>
    <label>{{m.time}} seconds</label>
{%endif%}
{%endblock%}

